<div class="containerArticles">
  <div class="buttonSection">
    <button
      class="createArticle"
      mat-raised-button
      color="primary"
      [routerLink]="['/createArticle']"
    >
      Créer un article
    </button>
    <div class="sortButton" (click)="toggleSortByDate()" aria-label="Trier par date">
      Trier par date
      <img
        [class]="sortOrder$.value === 'asc' ? 'sortSvg' : 'sortSvg2'"
        src="../../../assets/Arrow.svg"
        alt="fleches"
      />
    </div>
  </div>
  <div class="articleBloc">
    <!-- loader -->
    <ng-container *ngIf="loading; else articlesList">
      <div class="loadingContainer">
        <mat-spinner diameter="26" strokeWidth="4"></mat-spinner>
      </div>
    </ng-container>
    <!-- content -->
    <ng-template #articlesList>
      <ng-container *ngIf="articles$ | async as articles">
        <ng-container *ngIf="articles.length > 0; else noArticles">
          <a
            *ngFor="let article of articles"
            class="articleElement"
            routerLink="/articles/{{ article.id }}"
          >
            <div class="artitleTopSection">
              <div class="articleTitle">{{ article.title }}</div>
              <div class="articleTheme">{{ article.theme }}</div>
            </div>
            <div class="bottomSection">
              <div class="articleDate">Posté le {{ article.created_at | dateFormat }}</div>
              <div class="authorSection">
                <div class="articleAuthor">{{ article.authorUsername }}</div>
              </div>
            </div>
            <div class="articleDesc">{{ article.description }}</div>
          </a>
        </ng-container>
        <ng-template #noArticles>
          <div style="display: flex; flex-direction: column; grid-column: span 2; gap: 18px">
            <div class="noArticlesMessage">Aucun contenu disponible.</div>
            <img class="noDataImg" src="../../../assets/noData.png" alt="" />
          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </div>
</div>
