<div class="containerArticles">
  <div class="buttonSection">
    <button mat-raised-button color="primary" [routerLink]="['/createArticle']">
      Créer un article
    </button>
    <div class="sortButton" (click)="toggleSortByDate()" aria-label="Trier par date">
      Trier par date
      <img
        [class]="sortOrder$.value === 'asc' ? 'sortSvg' : 'sortSvg2'"
        src="../../../assets/Arrow.svg"
        alt="fleches"
      />
    </div>
  </div>
  <div class="articleBloc">
    <a
      *ngFor="let article of articles$ | async"
      class="articleElement"
      routerLink="/articles/{{ article.id }}"
    >
      <div class="artitleTopSection">
        <div class="articleTitle">{{ article.title }}</div>
        <div class="articleTheme">{{ article.theme }}</div>
      </div>
      <div class="bottomSection">
        <div class="articleDate">Posté le {{ article.created_at | dateFormat }}</div>
        <div class="authorSection">
          <div class="articleAuthor">{{ article.authorUsername }}</div>
          <!--
            <div class="authorCircle">
                <img src="../../../assets/account.svg" alt="" />
            </div>
        --></div>
      </div>
      <div class="articleDesc">{{ article.description }}</div>
    </a>
  </div>
</div>
