.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 77px);
  margin-top: 77px;
  flex-direction: column;
}

.centeredContainerRegister {
  margin: 1.5rem auto;
  max-width: 800px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.formContainer {
  width: 370px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.h-full {
  height: 100%;
}

.error {
  color: red;
  text-align: center;
}

.navBar {
  height: 74px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px 0 #0000005c;
}

.logo {
  max-width: 130px;
  cursor: pointer;
}

.linksFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-bottom: 15px;
}
