<div class="m3">
  <mat-card-title style="display: flex; align-items: center; margin: 55px auto 40px">
    <button style="position: absolute" mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 style="margin: 0; text-align: center; width: 100%">Profil utilisateur</h2>
  </mat-card-title>
  <mat-card-content class="containerUserInfo">
    <!--form-->
    <form class="formPutRequest" [formGroup]="userForm" (ngSubmit)="putUser()">
      <mat-form-field appearance="fill">
        <mat-label>Nom utilisateur</mat-label>
        <mat-error *ngIf="userForm.get('username')?.hasError('required')">
          Le nom d'utilisateur est obligatoire.
        </mat-error>
        <input matInput formControlName="username" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          L'email est obligatoire.
        </mat-error>
        <input matInput formControlName="email" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          Le mot de passe est obligatoire.
        </mat-error>
        <input matInput formControlName="password" required />
      </mat-form-field>
      <button
        class="subscribeButton"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Sauvegarder
      </button>
    </form>
    <!--form-->
  </mat-card-content>
  <!--abonnements-->
  <div
    class="separator"
    style="
      display: flex;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: black;
      margin: 50px auto 30px;
    "
  ></div>
  <h2 style="margin-bottom: 20px; text-align: center">Abonnements</h2>
  <div class="articleBloc">
    <div *ngFor="let theme of themes$ | async" class="articleElement">
      <div class="articleTitle">{{ theme.themeName }}</div>
      <div class="articleDesc">{{ theme.themeDescription }}</div>
      <button
        class="unsubscribeButton"
        mat-raised-button
        color="accent"
        (click)="unsubscribe(theme.id)"
      >
        Se désabonner
      </button>
    </div>
  </div>
  <!--abonnements-->
</div>
