// quels sont les classes non utilisés ?
.m3 {
  padding: 1.5rem 30px 75px;
  max-width: 800px;
  margin: auto;
}

.formPutRequest {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: auto;
  width: 100%;
  max-width: 550px;
}

.containerUserInfo {
  padding-bottom: 40px;
}

.articleBloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 40px auto 60px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.articleElement {
  text-decoration: none;
  color: #0b0b0b;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 8px;
  padding: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.articleTitle {
  font-size: 18px;
  font-weight: 700;
}

.articleDesc {
  //   margin: 10px 0 10px;
  //   line-clamp: 4;
  //   -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subscribeButton {
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .articleBloc {
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 40px auto 60px;
    width: 80%;
  }
}

@media screen and (max-width: 625px) {
  .articleBloc {
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 40px auto 60px;
    width: 100%;
  }

  .m3 {
    padding: 0 18px 35px;
  }
}

.separator {
  display: flex;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: black;
  margin: 50px auto 30px;
}

.unsubscribeButton {
  margin: auto 0 0;
}

.noThemesMsg {
  display: flex;
  width: 100%;
  grid-column: span 2;
  color: #3b3b3b;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
