<div class="app">
  <mat-toolbar color="white" class="navBar d-flex justify-content-between align-items-center">
    <img routerLink="home" class="logo" src="../assets/logo_p6.png" alt="" />
    <div class="linksFlex" *ngIf="$isLogged() | async; else notLogged">
      <span (click)="logout()" class="linkDeconnect">Se déconnecter</span>
      <span routerLink="home" class="link">Accueil</span>
      <span routerLink="me" class="myAccount"></span>
    </div>
    <ng-template #notLogged>
      <div>
        <span routerLink="login" class="link">Login</span>
        <span routerLink="register" class="link">Register</span>
      </div>
    </ng-template>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
